# 02: Crop images and Separate

From: jodafons

In [1]:
import pandas as pd
import numpy as np
import os, sys
import glob
import re
import hashlib
import pathlib
from PIL import Image
import matplotlib.pyplot as plt

In [2]:
def expand_folder( path , extension):
    return glob.glob(path+'/*.'+extension)

In [3]:
def get_md5(path):
    return hashlib.md5(pathlib.Path(path).read_bytes()).hexdigest()

In [4]:
table_path = '../data/Shenzhen/tables/Shenzhen_table_from_raw.xlsx'
image_path = '../data/Shenzhen/raw/Shenzhen/images'

In [5]:
df = pd.read_excel(table_path,index_col=0)
df.head()

,target,raw_image_path,raw_image_md5,age,sex,comment
0,False,../data/raw/Shenzhen/images/CHNCXR_0099_0.png,14a18d4fc7465b66186efb5c9d0d9bea,26,True,normal
1,True,../data/raw/Shenzhen/images/CHNCXR_0635_1.png,3ba59bfea5469d26e9409d831bc52ab6,65,True,bilateral PTB
2,False,../data/raw/Shenzhen/images/CHNCXR_0320_0.png,68ebd9afd4b7670e78afb5147115af1d,38,True,normal
3,True,../data/raw/Shenzhen/images/CHNCXR_0571_1.png,39746a5dc737f0bcbfb8b91b0ecdc54f,36,True,Right PTB
4,True,../data/raw/Shenzhen/images/CHNCXR_0534_1.png,53a87376a697ae0e9d39b34056fe9f54,21,True,Right PTB

In [17]:
def separate_and_resize( my_df , output_dir , resize=(255,255)):
    
    d = {
      'target'   : [],
      'image_path'  : [],
      'image_md5'   : [],
      'age'      : [],
      'sex'      : [],
      'comment'  : [],
    }
    
    #os.system('mkdir %s'%output_dir)
    for image_path in my_df.raw_image_path.values:
        #img = Image.open(image_path).resize(resize)
        filename = image_path.split('/')[-1]
        output_filename = output_dir+'/'+filename
        #img.save( output_filename, format="png")
        d['path'].append(output_filename)
        d['md5'].append(get_md5(output_filename))
    
    new_df = pd.DataFrame(d)
    print(new_df)
    my_df.reset_index(drop=True)
    my_df = pd.concat([my_df, new_df],axis=0)
    return my_df

In [18]:
my_df_ptb = separate_and_resize( df.loc[df.target==1], 'PTB')

                      path                               md5
0    PTB/CHNCXR_0635_1.png  bcb9e9594f26a6a79ab88a36122f57e7
1    PTB/CHNCXR_0571_1.png  31a76ee53e4ac78ea969f4b938a13b05
2    PTB/CHNCXR_0534_1.png  cbc8b9fb75ef92629a9b547774834aa9
3    PTB/CHNCXR_0429_1.png  a6b587f61c7a2b9f195cd18daaed013e
4    PTB/CHNCXR_0341_1.png  4a4f243d517c62f6254cb05fe36d223b
..                     ...                               ...
331  PTB/CHNCXR_0580_1.png  3d284714cb16a1cb705cffb394020140
332  PTB/CHNCXR_0639_1.png  f4563e0c5826f789f6a6c8347ac289d4
333  PTB/CHNCXR_0538_1.png  68852e357bfebd07fad9a4625b1ae794
334  PTB/CHNCXR_0460_1.png  996e01e4b7b35ebe42d06a9962176b8d
335  PTB/CHNCXR_0425_1.png  81966a8d98dd362344c48582af9eb4df

[336 rows x 2 columns]

In [10]:
my_df_ntb = separate_and_resize( df.loc[df.target==0], 'NTB')

In [19]:
my_df_ptb.head()

,target,raw_image_path,raw_image_md5,age,sex,comment,path,md5
1,True,../data/raw/Shenzhen/images/CHNCXR_0635_1.png,3ba59bfea5469d26e9409d831bc52ab6,65.0,True,bilateral PTB,NaN,NaN
3,True,../data/raw/Shenzhen/images/CHNCXR_0571_1.png,39746a5dc737f0bcbfb8b91b0ecdc54f,36.0,True,Right PTB,NaN,NaN
4,True,../data/raw/Shenzhen/images/CHNCXR_0534_1.png,53a87376a697ae0e9d39b34056fe9f54,21.0,True,Right PTB,NaN,NaN
8,True,../data/raw/Shenzhen/images/CHNCXR_0429_1.png,884530121613ba9ab7c99115b4a9c5a4,27.0,True,secondary PTB in the bilateral upper field,NaN,NaN
10,True,../data/raw/Shenzhen/images/CHNCXR_0341_1.png,f01fe81442ad7fa04d29897fb999097b,43.0,True,STB,NaN,NaN

In [12]:
df = pd.concat( [my_df_ptb, my_df_ntb], axis=1 )

InvalidIndexError: Reindexing only valid with uniquely valued Index objects